<div id="color-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div style="overflow: auto;">
            <h2 class="header">Color Palette</h2>
            <div class="row dynamic-color">
                <div class="col s12 m6 l4">
                    <div class="red lighten-5">red lighten-5</div>
                    <div class="red lighten-4">
                        red lighten-4</div>
                    <div class="red lighten-3">
                        red lighten-3</div>
                    <div class="red lighten-2">
                        red lighten-2</div>
                    <div class="red lighten-1">
                        red lighten-1</div>
                    <div class="red">
                        red</div>
                    <div class="red darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        red darken-1</div>
                    <div class="red darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        red darken-2</div>
                    <div class="red darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        red darken-3</div>
                    <div class="red darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        red darken-4</div>
                    <div class="red accent-1">
                        red accent-1</div>
                    <div class="red accent-2">
                        red accent-2</div>
                    <div class="red accent-3">
                        red accent-3</div>
                    <div class="red accent-4">
                        red accent-4</div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="pink lighten-5">
                        pink lighten-5</div>
                    <div class="pink lighten-4">
                        pink lighten-4</div>
                    <div class="pink lighten-3">
                        pink lighten-3</div>
                    <div class="pink lighten-2">
                        pink lighten-2</div>
                    <div class="pink lighten-1">
                        pink lighten-1</div>
                    <div class="pink">
                        pink</div>
                    <div class="pink darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        pink darken-1</div>
                    <div class="pink darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        pink darken-2</div>
                    <div class="pink darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        pink darken-3</div>
                    <div class="pink darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        pink darken-4</div>
                    <div class="pink accent-1">
                        pink accent-1</div>
                    <div class="pink accent-2">
                        pink accent-2</div>
                    <div class="pink accent-3">
                        pink accent-3</div>
                    <div class="pink accent-4">
                        pink accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="purple lighten-5">
                        purple lighten-5</div>
                    <div class="purple lighten-4">
                        purple lighten-4</div>
                    <div class="purple lighten-3">
                        purple lighten-3</div>
                    <div class="purple lighten-2">
                        purple lighten-2</div>
                    <div class="purple lighten-1">
                        purple lighten-1</div>
                    <div class="purple">
                        purple</div>
                    <div class="purple darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        purple darken-1</div>
                    <div class="purple darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        purple darken-2</div>
                    <div class="purple darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        purple darken-3</div>
                    <div class="purple darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        purple darken-4</div>
                    <div class="purple accent-1">
                        purple accent-1</div>
                    <div class="purple accent-2">
                        purple accent-2</div>
                    <div class="purple accent-3">
                        purple accent-3</div>
                    <div class="purple accent-4">
                        purple accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="deep-purple lighten-5">
                        deep-purple lighten-5</div>
                    <div class="deep-purple lighten-4">
                        deep-purple lighten-4</div>
                    <div class="deep-purple lighten-3">
                        deep-purple lighten-3</div>
                    <div class="deep-purple lighten-2">
                        deep-purple lighten-2</div>
                    <div class="deep-purple lighten-1">
                        deep-purple lighten-1</div>
                    <div class="deep-purple">
                        deep-purple</div>
                    <div class="deep-purple darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-purple darken-1</div>
                    <div class="deep-purple darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-purple darken-2</div>
                    <div class="deep-purple darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-purple darken-3</div>
                    <div class="deep-purple darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-purple darken-4</div>
                    <div class="deep-purple accent-1">
                        deep-purple accent-1</div>
                    <div class="deep-purple accent-2">
                        deep-purple accent-2</div>
                    <div class="deep-purple accent-3">
                        deep-purple accent-3</div>
                    <div class="deep-purple accent-4">
                        deep-purple accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="indigo lighten-5">
                        indigo lighten-5</div>
                    <div class="indigo lighten-4">
                        indigo lighten-4</div>
                    <div class="indigo lighten-3">
                        indigo lighten-3</div>
                    <div class="indigo lighten-2">
                        indigo lighten-2</div>
                    <div class="indigo lighten-1">
                        indigo lighten-1</div>
                    <div class="indigo">
                        indigo</div>
                    <div class="indigo darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        indigo darken-1</div>
                    <div class="indigo darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        indigo darken-2</div>
                    <div class="indigo darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        indigo darken-3</div>
                    <div class="indigo darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        indigo darken-4</div>
                    <div class="indigo accent-1">
                        indigo accent-1</div>
                    <div class="indigo accent-2">
                        indigo accent-2</div>
                    <div class="indigo accent-3">
                        indigo accent-3</div>
                    <div class="indigo accent-4">
                        indigo accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="blue lighten-5">
                        blue lighten-5</div>
                    <div class="blue lighten-4">
                        blue lighten-4</div>
                    <div class="blue lighten-3">
                        blue lighten-3</div>
                    <div class="blue lighten-2">
                        blue lighten-2</div>
                    <div class="blue lighten-1">
                        blue lighten-1</div>
                    <div class="blue">#2196f3 blue</div>
                    <div class="blue darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        blue darken-1</div>
                    <div class="blue darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        blue darken-2</div>
                    <div class="blue darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        blue darken-3</div>
                    <div class="blue darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        blue darken-4</div>
                    <div class="blue accent-1">
                        blue accent-1</div>
                    <div class="blue accent-2">
                        blue accent-2</div>
                    <div class="blue accent-3">
                        blue accent-3</div>
                    <div class="blue accent-4">
                        blue accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="light-blue lighten-5">
                        light-blue lighten-5</div>
                    <div class="light-blue lighten-4">
                        light-blue lighten-4</div>
                    <div class="light-blue lighten-3">
                        light-blue lighten-3</div>
                    <div class="light-blue lighten-2">
                        light-blue lighten-2</div>
                    <div class="light-blue lighten-1">
                        light-blue lighten-1</div>
                    <div class="light-blue">
                        light-blue</div>
                    <div class="light-blue darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        light-blue darken-1</div>
                    <div class="light-blue darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        light-blue darken-2</div>
                    <div class="light-blue darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        light-blue darken-3</div>
                    <div class="light-blue darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        light-blue darken-4</div>
                    <div class="light-blue accent-1">
                        light-blue accent-1</div>
                    <div class="light-blue accent-2">
                        light-blue accent-2</div>
                    <div class="light-blue accent-3">
                        light-blue accent-3</div>
                    <div class="light-blue accent-4">
                        light-blue accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="cyan lighten-5">
                        cyan lighten-5</div>
                    <div class="cyan lighten-4">
                        cyan lighten-4</div>
                    <div class="cyan lighten-3">
                        cyan lighten-3</div>
                    <div class="cyan lighten-2">
                        cyan lighten-2</div>
                    <div class="cyan lighten-1">
                        cyan lighten-1</div>
                    <div class="cyan">
                        cyan</div>
                    <div class="cyan darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        cyan darken-1</div>
                    <div class="cyan darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        cyan darken-2</div>
                    <div class="cyan darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        cyan darken-3</div>
                    <div class="cyan darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        cyan darken-4</div>
                    <div class="cyan accent-1">
                        cyan accent-1</div>
                    <div class="cyan accent-2">
                        cyan accent-2</div>
                    <div class="cyan accent-3">
                        cyan accent-3</div>
                    <div class="cyan accent-4">
                        cyan accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="teal lighten-5">
                        teal lighten-5</div>
                    <div class="teal lighten-4">
                        teal lighten-4</div>
                    <div class="teal lighten-3">
                        teal lighten-3</div>
                    <div class="teal lighten-2">
                        teal lighten-2</div>
                    <div class="teal lighten-1">
                        teal lighten-1</div>
                    <div class="teal">
                        teal</div>
                    <div class="teal darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        teal darken-1</div>
                    <div class="teal darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        teal darken-2</div>
                    <div class="teal darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        teal darken-3</div>
                    <div class="teal darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        teal darken-4</div>
                    <div class="teal accent-1">
                        teal accent-1</div>
                    <div class="teal accent-2">
                        teal accent-2</div>
                    <div class="teal accent-3">
                        teal accent-3</div>
                    <div class="teal accent-4">
                        teal accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="green lighten-5">
                        green lighten-5</div>
                    <div class="green lighten-4">
                        green lighten-4</div>
                    <div class="green lighten-3">
                        green lighten-3</div>
                    <div class="green lighten-2">
                        green lighten-2</div>
                    <div class="green lighten-1">
                        green lighten-1</div>
                    <div class="green">
                        green</div>
                    <div class="green darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        green darken-1</div>
                    <div class="green darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        green darken-2</div>
                    <div class="green darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        green darken-3</div>
                    <div class="green darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        green darken-4</div>
                    <div class="green accent-1">
                        green accent-1</div>
                    <div class="green accent-2">
                        green accent-2</div>
                    <div class="green accent-3">
                        green accent-3</div>
                    <div class="green accent-4">
                        green accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="light-green lighten-5">
                        light-green lighten-5</div>
                    <div class="light-green lighten-4">
                        light-green lighten-4</div>
                    <div class="light-green lighten-3">
                        light-green lighten-3</div>
                    <div class="light-green lighten-2">
                        light-green lighten-2</div>
                    <div class="light-green lighten-1">
                        light-green lighten-1</div>
                    <div class="light-green">
                        light-green</div>
                    <div class="light-green darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        light-green darken-1</div>
                    <div class="light-green darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        light-green darken-2</div>
                    <div class="light-green darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        light-green darken-3</div>
                    <div class="light-green darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        light-green darken-4</div>
                    <div class="light-green accent-1">
                        light-green accent-1</div>
                    <div class="light-green accent-2">
                        light-green accent-2</div>
                    <div class="light-green accent-3">
                        light-green accent-3</div>
                    <div class="light-green accent-4">
                        light-green accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="lime lighten-5">
                        lime lighten-5</div>
                    <div class="lime lighten-4">
                        lime lighten-4</div>
                    <div class="lime lighten-3">
                        lime lighten-3</div>
                    <div class="lime lighten-2">
                        lime lighten-2</div>
                    <div class="lime lighten-1">
                        lime lighten-1</div>
                    <div class="lime">
                        lime</div>
                    <div class="lime darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        lime darken-1</div>
                    <div class="lime darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        lime darken-2</div>
                    <div class="lime darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        lime darken-3</div>
                    <div class="lime darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        lime darken-4</div>
                    <div class="lime accent-1">
                        lime accent-1</div>
                    <div class="lime accent-2">
                        lime accent-2</div>
                    <div class="lime accent-3">
                        lime accent-3</div>
                    <div class="lime accent-4">
                        lime accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="yellow lighten-5">
                        yellow lighten-5</div>
                    <div class="yellow lighten-4">
                        yellow lighten-4</div>
                    <div class="yellow lighten-3">
                        yellow lighten-3</div>
                    <div class="yellow lighten-2">
                        yellow lighten-2</div>
                    <div class="yellow lighten-1">
                        yellow lighten-1</div>
                    <div class="yellow">
                        yellow</div>
                    <div class="yellow darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        yellow darken-1</div>
                    <div class="yellow darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        yellow darken-2</div>
                    <div class="yellow darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        yellow darken-3</div>
                    <div class="yellow darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        yellow darken-4</div>
                    <div class="yellow accent-1">
                        yellow accent-1</div>
                    <div class="yellow accent-2">
                        yellow accent-2</div>
                    <div class="yellow accent-3">
                        yellow accent-3</div>
                    <div class="yellow accent-4">
                        yellow accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="amber lighten-5">
                        amber lighten-5</div>
                    <div class="amber lighten-4">
                        amber lighten-4</div>
                    <div class="amber lighten-3">
                        amber lighten-3</div>
                    <div class="amber lighten-2">
                        amber lighten-2</div>
                    <div class="amber lighten-1">
                        amber lighten-1</div>
                    <div class="amber">#ffc107 amber</div>
                    <div class="amber darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        amber darken-1</div>
                    <div class="amber darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        amber darken-2</div>
                    <div class="amber darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        amber darken-3</div>
                    <div class="amber darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        amber darken-4</div>
                    <div class="amber accent-1">
                        amber accent-1</div>
                    <div class="amber accent-2">
                        amber accent-2</div>
                    <div class="amber accent-3">
                        amber accent-3</div>
                    <div class="amber accent-4">
                        amber accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="orange lighten-5">
                        orange lighten-5</div>
                    <div class="orange lighten-4">
                        orange lighten-4</div>
                    <div class="orange lighten-3">
                        orange lighten-3</div>
                    <div class="orange lighten-2">
                        orange lighten-2</div>
                    <div class="orange lighten-1">
                        orange lighten-1</div>
                    <div class="orange">
                        orange</div>
                    <div class="orange darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        orange darken-1</div>
                    <div class="orange darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        orange darken-2</div>
                    <div class="orange darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        orange darken-3</div>
                    <div class="orange darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        orange darken-4</div>
                    <div class="orange accent-1">
                        orange accent-1</div>
                    <div class="orange accent-2">
                        orange accent-2</div>
                    <div class="orange accent-3">
                        orange accent-3</div>
                    <div class="orange accent-4">
                        orange accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="deep-orange lighten-5">
                        deep-orange lighten-5</div>
                    <div class="deep-orange lighten-4">
                        deep-orange lighten-4</div>
                    <div class="deep-orange lighten-3">
                        deep-orange lighten-3</div>
                    <div class="deep-orange lighten-2">
                        deep-orange lighten-2</div>
                    <div class="deep-orange lighten-1">
                        deep-orange lighten-1</div>
                    <div class="deep-orange">
                        deep-orange</div>
                    <div class="deep-orange darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-orange darken-1</div>
                    <div class="deep-orange darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-orange darken-2</div>
                    <div class="deep-orange darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-orange darken-3</div>
                    <div class="deep-orange darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        deep-orange darken-4</div>
                    <div class="deep-orange accent-1">
                        deep-orange accent-1</div>
                    <div class="deep-orange accent-2">
                        deep-orange accent-2</div>
                    <div class="deep-orange accent-3">
                        deep-orange accent-3</div>
                    <div class="deep-orange accent-4">
                        deep-orange accent-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="brown lighten-5">
                        brown lighten-5</div>
                    <div class="brown lighten-4">
                        brown lighten-4</div>
                    <div class="brown lighten-3">
                        brown lighten-3</div>
                    <div class="brown lighten-2">
                        brown lighten-2</div>
                    <div class="brown lighten-1">
                        brown lighten-1</div>
                    <div class="brown">
                        brown</div>
                    <div class="brown darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        brown darken-1</div>
                    <div class="brown darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        brown darken-2</div>
                    <div class="brown darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        brown darken-3</div>
                    <div class="brown darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        brown darken-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="grey lighten-5">
                        grey lighten-5</div>
                    <div class="grey lighten-4">
                        grey lighten-4</div>
                    <div class="grey lighten-3">
                        grey lighten-3</div>
                    <div class="grey lighten-2">
                        grey lighten-2</div>
                    <div class="grey lighten-1">
                        grey lighten-1</div>
                    <div class="grey">
                        grey</div>
                    <div class="grey darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        grey darken-1</div>
                    <div class="grey darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        grey darken-2</div>
                    <div class="grey darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        grey darken-3</div>
                    <div class="grey darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        grey darken-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="blue-grey lighten-5">
                        blue-grey lighten-5</div>
                    <div class="blue-grey lighten-4">
                        blue-grey lighten-4</div>
                    <div class="blue-grey lighten-3">
                        blue-grey lighten-3</div>
                    <div class="blue-grey lighten-2">
                        blue-grey lighten-2</div>
                    <div class="blue-grey lighten-1">
                        blue-grey lighten-1</div>
                    <div class="blue-grey">
                        blue-grey</div>
                    <div class="blue-grey darken-1" style="color: rgba(255, 255, 255, 0.901961);">
                        blue-grey darken-1</div>
                    <div class="blue-grey darken-2" style="color: rgba(255, 255, 255, 0.901961);">
                        blue-grey darken-2</div>
                    <div class="blue-grey darken-3" style="color: rgba(255, 255, 255, 0.901961);">
                        blue-grey darken-3</div>
                    <div class="blue-grey darken-4" style="color: rgba(255, 255, 255, 0.901961);">
                        blue-grey darken-4</div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="black" style="color: rgba(255, 255, 255, 0.901961);">
                        black</div>
                    <div class="white">
                        white</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="light-blue lighten-2 modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>
