{% extends 'admin/base_admin.twig' %}

{% block content %}
    <h2 class="header center black-text" style="font-family: 'Merriweather', serif; text-shadow: 1px 1px 2px #4e4e4e;">Manage Takeaway menu</h2>
    {% set path = 'admin.takeaway' %}
    {% set is_takeaway = 1 %}
    <div class="row">
        <div class="col s12 l5 z-depth-3 card-panel">
            {% include 'partials/admin_category_new.twig' %}
        </div>
        <div class="col s12 l5 push-l2 z-depth-3 card-panel">
            {% include 'partials/admin_item_new.twig' %}
        </div>
    </div>
    {% set catLen = categories | length %}
    {% for category in categories %}
        {% if loop.index0 == 0 or loop.index0 % 2 == 0 %}
            {{ '<div class="row">'|raw }}
            {% if (catLen % 2 == 1 and loop.index0 == (catLen - 1)) %}
                <div class="col s12 l6 push-l3">{% include 'partials/admin_takeaway_category_item_edit.twig' %}</div>
                {{ '</div>'}}
            {% else %}
                <div class="col s12 l6">{% include 'partials/admin_takeaway_category_item_edit.twig' %}</div>
            {% endif %}
        {% else %}
            <div class="col s12 l6">{% include 'partials/admin_takeaway_category_item_edit.twig' %}</div>
            {{ '</div>'}}
        {% endif %}
    {% endfor %}
{% endblock %}
