body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

footer {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}
.no-marg-top {
    margin-top: 0 !important;
}
@media only screen and (max-width: 375px) {
    .header {
        font-size: 2.92rem;
    }
}
@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 600px;
    }
}
@media only screen and (min-width: 800px) {
    .parallax-container {
        height: 700px;
    }
}

.collection-header {
    color: white;
    border-bottom: 1px solid #9E9E9E !important;
}

/* Stars*/

.stars {
    unicode-bidi: bidi-override;
    color: #bb9090;
    font-size: 35px;
    height: 35px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 2px 2px 10px #a2a2a2;
    margin-bottom: 30px;
    display: block;
    z-index: 0;
}
.stars-white {
    unicode-bidi: bidi-override;
    color: #ffffff;
    font-size: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    margin: 30px auto 30px auto;
    display: block;
    z-index: 0;
    text-shadow: 2px 2px 15px #a2a2a2;
}

/* Flag*/

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
.flag-icon:before {
    content: "\00a0";
}
.flag-icon.flag-icon-squared {
    width: 1em;
}
.flag-icon-se {
    background-image: url(../images/se.svg);
}
.flag-icon-gb {
    background-image: url(../images/gb.svg);
}

/* Quote*/

.bquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.45;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.bquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

/* Ribbon*/

.non-semantic-protector {
    position: relative;
    z-index: 1;
}
.title-container {
    background-color: #d2d2e6;
    display: inline-block;
    font-family: "Quicksand";
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    font-size: 42px;
    height: 60px;
    line-height: 60px;
}
.title-container {
    margin-top: 0;
}
.ribbon-title {
    min-width: 150px;
    max-width: 750px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin-left: -75px;
    margin-right: -75px;
    -webkit-animation: title-width .8s ease;
    -moz-animation: title-width .8s ease;
    -o-animation: title-width .8s ease;
    animation: title-width .8s ease;
}
.title span {
    color: black;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}
@-webkit-keyframes title-width {
    0% {
        margin-left: 100px;
        margin-right: 100px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
    50% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
}
@-moz-keyframes title-width {
    0% {
        margin-left: 100px;
        margin-right: 100px;
        -moz-opacity: 0;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
    50% {
        -moz-opacity: 0;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
}
@-o-keyframes title-width {
    0% {
        margin-left: 100px;
        margin-right: 100px;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
    50% {
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
}
@keyframes title-width {
    0% {
        margin-left: 100px;
        margin-right: 100px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
    50% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        color: rgba(255, 255, 255, 0.0);
    }
}
.backflag-left, .backflag-right {
    background: #8585ab;
    width: 91px;
    height: 56px;
    position: relative;
    margin-top: 18px;
    z-index: -100;
    -webkit-animation: flag-back 1s ease;
    -moz-animation: flag-back 1s ease;
    -o-animation: flag-back 1s ease;
    animation: flag-back 1s ease;
}
.backflag-left {
    -webkit-transform: rotate(20deg) skew(20deg);
    -ms-transform: rotate(20deg) skew(20deg);
    transform: rotate(20deg) skew(20deg);
    float: left;
}
.backflag-right {
    -webkit-transform: rotate(-20deg) skew(-20deg);
    -ms-transform: rotate(-20deg) skew(-20deg);
    transform: rotate(-20deg) skew(-20deg);
    float: right;
}
@-webkit-keyframes flag-back {
    0% {
        -webkit-transform: rotate(0deg) skew(0deg);
        -ms-transform: rotate(0deg) skew(0deg);
        transform: rotate(0deg) skew(0deg);
        margin-top: 0px;
    }
}
@-moz-keyframes flag-back {
    0% {
        -webkit-transform: rotate(0deg) skew(0deg);
        -ms-transform: rotate(0deg) skew(0deg);
        transform: rotate(0deg) skew(0deg);
        margin-top: 0px;
    }
}
@-o-keyframes flag-back {
    0% {
        -webkit-transform: rotate(0deg) skew(0deg);
        -ms-transform: rotate(0deg) skew(0deg);
        transform: rotate(0deg) skew(0deg);
        margin-top: 0px;
    }
}
@keyframes flag-back {
    0% {
        -webkit-transform: rotate(0deg) skew(0deg);
        -ms-transform: rotate(0deg) skew(0deg);
        transform: rotate(0deg) skew(0deg);
        margin-top: 0px;
    }
}
.ribbon-left, .ribbon-right {
    background: #d2d2e6;
    margin-top: 31px;
    position: absolute;
    height: 60px;
    width: 120px;
    z-index: -300;
}
.ribbon-left {
    float: left;
    margin-left: -32px;
    text-align: center;
    -webkit-animation: flag-end-left 1s ease;
    -moz-animation: flag-end-left 1s ease;
    -o-animation: flag-end-left 1s ease;
    animation: flag-end-left 1s ease;
}
.ribbon-right {
    display: inline;
    margin-left: 3px;
    -webkit-animation: flag-end-right 1s ease;
    -moz-animation: flag-end-right 1s ease;
    -o-animation: flag-end-right 1s ease;
    animation: flag-end-right 1s ease;
}
@-webkit-keyframes flag-end-right {
    0% {
        margin-top: 0;
        width: 25px;
    }
}
@-moz-keyframes flag-end-right {
    0% {
        margin-top: 0;
        width: 25px;
    }
}
@-o-keyframes flag-end-right {
    0% {
        margin-top: 0;
        width: 25px;
    }
}
@keyframes flag-end-right {
    0% {
        margin-top: 0;
        width: 25px;
    }
}
@-webkit-keyframes flag-end-left {
    0% {
        margin-top: 0;
        width: 25px;
        margin-left: 63px;
    }
}
@-moz-keyframes flag-end-left {
    0% {
        margin-top: 0;
        width: 25px;
        margin-left: 63px;
    }
}
@-o-keyframes flag-end-left {
    0% {
        margin-top: 0;
        width: 25px;
        margin-left: 63px;
    }
}
@keyframes flag-end-left {
    0% {
        margin-top: 0;
        width: 25px;
        margin-left: 63px;
    }
}
.ribbon-left:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 30px solid #d2d2e6;
    border-left: 50px solid transparent;
    float: left;
    margin-left: -50px;
    margin-top: 30px;
}
.ribbon-left:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid #d2d2e6;
    border-left: 50px solid transparent;
    float: left;
    margin-left: -50px;
    margin-top: 0;
}
.ribbon-right:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 30px solid #d2d2e6;
    border-right: 50px solid transparent;
    float: right;
    margin-right: -50px;
    margin-top: 30px;
}
.ribbon-right:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid #d2d2e6;
    border-right: 50px solid transparent;
    float: right;
    margin-right: -50px;
    margin-top: 0;
}
@media all and (max-width: 1340px) {
    .center-wrap {
        width: 100%;
    }
}
@media all and (max-width: 850px) {
    .title-container {
        font-size: 4.8vw;
    }
}
.dynamic-color .red, .dynamic-color .pink, .dynamic-color .purple, .dynamic-color .deep-purple, .dynamic-color .indigo, .dynamic-color .blue, .dynamic-color .light-blue, .dynamic-color .cyan, .dynamic-color .teal, .dynamic-color .green, .dynamic-color .light-green, .dynamic-color .lime, .dynamic-color .yellow, .dynamic-color .amber, .dynamic-color .orange, .dynamic-color .deep-orange, .dynamic-color .brown, .dynamic-color .grey, .dynamic-color .blue-grey, .dynamic-color .black, .dynamic-color .white, .dynamic-color .transparent {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    box-sizing: border-box
}
.dynamic-color .col {
    margin-bottom: 55px
}
